<div class="row">
    <!-- dashboard header -->
    <div class="col-md-12">
        <div class="dash-head clearfix mt15 mb20">
            <div class="left">
                <h4 class="mb5 text-light">Hola, {{this.nombre}}</h4>
                <p class="small"><strong>Aqui puedes comunicar al cliente, sobre el estado de su paquete</strong></p>
            </div>
            <div class="right">
                <h4 class="mb5 text-light"></h4>
                <button type="button" [routerLink]="[ '/new-list']"
                class="btn btn-danger btn-icon-inline waves-effect"><i class="fa fa-plus"></i>Registrar paquete</button>
            </div>
            <div class="right mt10">
            </div>
        </div>
    </div>
</div> <!-- #end row -->